body{
  background-color: lightblue;
  text-align: center;
}
p.section{
  color: blue;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1em;
  font-family: cursive;
  padding-left: 1em;
  padding-right: 1em;
}
ul{
  list-style-type: square;
  text-align: center;

}
ol{
  list-style-type: upper-roman;
  text-align: center;
}
#experience{
  color: purple;
  text-align: center;
}
#programmingLanguages, #achievements, #games
{
  color: purple;
  text-align: center;
}
h2
{
  color:green;
    text-align: center;
}
h1{
  color:green;
  text-align: center; 
}